@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .bg-primary {
    background-color: #b23836;
  }
  .bg-secondary {
    background-color: #ffd700;
  }
  .bg-midnight {
    background-color: #0f172a;
  }
}
